* {
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
}
button:focus{
	outline: none;
}
@font-face {
    font-family: neon; /* Гарнитура шрифта */
    src: url(../fonts/neon.ttf); /* Путь к файлу со шрифтом */
   }
body {
	background: #fff;
	color: #000;
	font-weight: 400;
	font-family: 'Varela Round', sans-serif;
	margin: 0;
	padding: 0	
}
ul{
	padding: 0;
	margin: 0
}
li{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	color: #fff;
	text-decoration: none;
	transition: .3s
}
a:focus{
	text-decoration: none;
	outline: none;
}
a:hover{
	text-decoration: none;
}
img{
	width: 100%;
}
.all-fix{
	padding: 0;
	margin: 0
}
.col-fix{
	padding-left: 5px;
	padding-right: 5px;
}
.back-button{
	padding: 0;
	margin: 0;
	position: absolute;
	top: 20px;
	left: 15px;
	font-size: 20px;
	color: #fff;
	z-index: 999;
	background-color: transparent;
	border: none;
	display: none;
}
.mb{
	margin-bottom: 10px
}

/*///////////////////////////
				ENTER
//////////////////////////////*/
.main-enter{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.back-img{
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}
.back-img:after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #080e1e;
	opacity: .8;
	z-index: 0
}
.logo{
	width: 100px;
	z-index: 2
}
.back-img h1{
	color: #fff;
	font-size: 40px;
	font-weight: 900;
	z-index: 2;
	line-height: 30px;
	margin-bottom: 0;
	font-family: 'neon';
	letter-spacing: 3px;
}
.back-img p{
	color: #00a2de;
	z-index: 2;
	font-size: 18px;
	font-family: 'Tomorrow', sans-serif;
}
.enter{
	width: 100%;
	height: 100vh;
	background-color: #080e1e;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	position: relative;
	text-align: center;
}
.enter h1{
	color: #fff;
	font-size: 40px;
	font-family: 'Tomorrow', sans-serif;
	z-index: 3
}
.enter .qq a{
	padding: 10px;
	margin-bottom: 10px;
	background-color: transparent;
	border: 1px solid #1c3369;
	display: block;
	width: 230px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	transition: .3s;
}
.enter .qq a:hover{
	background-color: #1c3369;
	color: #fff;
}



/*//////////////////////////////////////
				Sign in & Log in
//////////////////////////////////////*/
.enter form input::placeholder{
	color: #fff;
}
.enter form input{
	padding: 5px;
	margin-bottom: 20px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	display: block;
	width: 300px;
	color: #fff;
	transition: .3s;
	letter-spacing: 1px;
	font-family: 'Varela Round', sans-serif;
}
.enter form{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-direction: column;
	z-index: 3
}
.enter form button{
	padding: 10px;
	margin-bottom: 10px;
	background-color: transparent;
	border: 1px solid #1c3369;
	display: block;
	width: 300px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	transition: .3s;
}
.enter form button:hover{
	background-color: #1c3369;
}
.sign{
	color: #fff;
    font-size: 14px;
    display: block;
    text-align: right;
    width: 270px;
}



/*///////////////////////////
				HOME
//////////////////////////////*/
.main-container{
	background-color: #080e1e;
	width: 100%;
	height: 100%;
	position: relative;
}
.main-menu{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 200px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px 10px;
	background-color: #002640;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	transition: .3s;
	z-index: 999;
	overflow-y: scroll;
  	scroll-behavior: smooth;
}	
.main-menu::-webkit-scrollbar {
 	display: none;
}
.main-menu .user{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	position: relative;
	padding: 10px 0;
}
.main-menu .user span{
	font-size: 18px;
}
.main-menu .user .user-img{
	width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.main-menu .menu-items{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	position: relative;
	font-size: 16px;
	color: #fff;
}
.main-menu .menu-items i{
	font-size: 20px;
	margin-right: 10px;
}
.main-menu .menu-items li a{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 10px; 
	position: relative;
	transition: .3s;
	color: #fff;
}

.main-menu .menu-items li a:hover:after{
	width: 10px;
}
.main-menu .menu-items li a:after{
	content: "";
	position: absolute;
	left: -10px;
	top: 0;
	width: 0px;
	height: 100%;
	background-color: #fff;
	transition: .3s
}
.main-menu .menu-items li a:hover{
	background-color: #080e1e	
}
.setting{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	position: relative;
	font-size: 16px;	
	padding: 10px;
}
.setting i{
	font-size: 20px;
	margin-right: 10px
}



/*CONTENT*/

		/*hamburger*/
.mobile-toggle {
	cursor: pointer;
    font-size: 20px;
    width: 30px;
    height: 20px;
    display: none;
    position: fixed;
    right: 10px;
    top: 20px;
    z-index: 9999;
}
.mobile-toggle span {
	width: 30px;
	height: 3px;
	margin-bottom: 6px;
	border-radius: 20px;
	background: #fff;
	display: block;
	transition: 0.3s
}
.mobile-toggle span:nth-child(1){
	position: absolute;
	top: 0px;
	width: 10px;
	right: 0;
}
.mobile-toggle span:nth-child(2){
	position: absolute;
	top: 7px;
}
.mobile-toggle span:nth-child(3){
	position: absolute;
	top: 14px;
	width: 10px;
	left: 0;
}
.mobile-toggle.active span:nth-child(1){
	width: 30px
}
.mobile-toggle.active span:nth-child(2){
	transform-origin: center;
	transform: rotate(90deg);
}
.mobile-toggle.active span:nth-child(3){
	width: 30px;
}	

.content{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	margin-left: 200px;
	height: 100%;
	position: relative;
	padding: 15px;
}
.content-back{
	width: 100%;
	height: 300px;
	background: url(../img/6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.content-back:after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #080e1e;
	opacity: .6
}

.home-post{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	position: relative;
}
.home-post .post-head{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	position: relative;
	margin-bottom: 20px;
}
.home-post .post-head h1{
	font-size: 24px;
	color: #fff;
	padding: 0;
	margin: 0
}
.home-post .post-head a{
	display: block;
	padding: 10px;
	background-color: #002640;
	color: #fff;
	z-index: 999;
	border-radius: 5px;
	transition: .3s
}
.owl-carousel .item{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 300px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	flex-direction: column;
}
.owl-carousel .item:after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #080e1e;
	border-radius: 20px;
	opacity: .6
}
.owl-carousel .item h1{
	color: #fff;
	z-index: 999;
	font-family: neon;
	font-size: 26px;
	text-align: center;
}
.owl-carousel .item a{
	display: block;
	padding: 10px 20px;
	background-color: #080e1e;
	color: #fff;
	z-index: 999;
	border-radius: 10px;
	transition: .3s
}
.owl-carousel .item a:hover{
	background-color: #fff;
	color: #080e1e;
}

.post-content{
	width: 100%;
	height: 100%;
	display: block;
}
.post-back{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	width: 100%;
	height: 140px;
	border-radius: 20px;
	padding: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	flex-direction: column;
	transition: .3s;
	overflow: hidden;
}
.post-back:hover{
	box-shadow: 0 0 5px 1px #2946a9;
}
.post-back h1{
	font-size: 24px;
	color: #fff;
	margin: 0;
	padding: 0;
	transition: .3s
}
.post-back p{
	font-size: 14px;
	color: #9e9e9e;
	margin: 0;
	padding: 0;
}


					/*footer*/
footer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	position: relative;
	padding: 10px;
	background-color: #000;
	border-radius: 10px;
	color: #fff;
}

@media only screen and (max-width: 768px) {
	.back-img{
		display: none;
	}
	.gal-1{
		background-image: url(../img/1.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.gal-2{
		background-image: url(../img/3.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.gal-3{
		background-image: url(../img/5.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.enter:after{
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: #000;
		opacity: .5;
		z-index: 0
	}
	.enter .qq a{
		background-color: #1c3369
	}
	.enter form button{
		background-color: #1c3369
	}

						/*home*/
	.main-menu{
		top: 0;
		left: -200px;
	}				
	.content{
		margin-left: 0;
	}		
	.mobile-toggle{
		display: block;
	}
	.main-menu.menu-show{
		left: 0;
	}

}
@media only screen and (max-width: 425px) {
	.enter a{
		font-size: 14px;
	}
	.enter form input{
		width: 270px;
	}
	.enter form .sign{
		width: 250px;
	}
	.enter form button{
		width: 270px;
	}
	.back-button{
		display: block;
	}


}